.menu-wrapper
    width: 700px
    max-width: 90%
    margin: 0 auto
    padding: 1rem
    .menu-unit
        margin-bottom: 1rem
        padding: 0rem 1rem
        .cat-name
            text-transform: capitalize
            margin-bottom: 0.5rem
            font:
                weight: 300
                size: 2rem
        .cat-item
            text-transform: capitalize
            margin-bottom: 0.5rem
        .menu-item
            display: flex
            justify-content: space-around
            align-items: center
            margin-bottom: 0.8rem
            .avatar
                width: 100px
                height: 100px
                background: black
                margin-right: 1.4rem
            .desc
                .item-name
                    font-size: 1.5rem
            .item-name
                    font-size: 1.2rem
                    text-transform: capitalize
                    margin-bottom: 0.5rem
            .item-price
                margin-bottom: 0.8rem
                font:
                    weight: 700
                    size: 1.1rem
            .menu-item-content
                input
                    display: block
                    padding: 0.5rem
                    text-indent: 1rem
                    font-weight: 900
                .cta
                    margin-top: 0.5rem
                    padding: 0.8rem 2rem
                    outline: none
                    border: none
                    cursor: pointer
                    background: #2685bf
                    color: white