.menu-wrapper
    width: 50%
    max-widht: 90%
    margin: 0 auto
    .cat-name
        text-transform: capitalize
        font:
            size: 3rem
            weight: 700
        margin-bottom: 1.5rem
    .menu-item
        margin-bottom: 2rem
        margin-bottom: 2rem
        .avatar
            margin-bottom: 1rem
        .desc
            .item-name
                font-size: 2rem
                margin-bottom: 0.4rem
                text-transform: capitalize
            .item-price
                font:
                    size: 1.2rem
                    weight: 700
                margin-bottom: 0.8rem
