.order-wrapper
    width: 540px 
    max-width: 90%
    margin: 0 auto
    .order-item
        margin-bottom: 1rem
        .order-index
            font-weight: 900
            margin-bottom: 0.8rem
            text-transform: uppercase
    .order-unit
        margin-bottom: 1rem
        font-size: 1.2rem

.order-list-wrapper
    width: 540px
    max-width: 90%
    margin: 0 auto
    .order-unit
        margin-bottom: 2rem
        background: rgba(black, 0.2)
        padding: 1rem
        border: 1px solid rgba(black, 0.2)
        border-radius: 10px
    .order-unit .user-info
        margin-bottom: 1rem
        .name
            font-size: 2rem
        .location
            font-size: 1.2rem
            text-transform: capitalize
            margin-bottom: 0.2rem
        .contact
            font-size: 1.2rem
    .order-unit .order
        margin-bottom: 1rem
    .order-unit .order-item
        margin-bottom: 1rem
        .item-num
            font-size: 1.8rem
            margin-bottom: 0.2rem
        .item-name
            font-size: 1.7rem
            margin-bottom: 0.3rem
        .item-status
            font-size: 1.4rem
            margin-bottom: 0.2rem



.order-items-wrapper
    background: pink
    width: 500px
    max-width: 90%
    margin: 0 auto
    .order-item
        margin-bottom: 2rem