@import "normalize"
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&display=swap')

//variables
$blue: #64b2cd
$lightBlue: #b9d2d2
*
    box-sizing: border-box
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, p
    margin: 0
    padding: 0

html, body
    font-family: 'Fira Sans', sans-serif

//general styling
a
    color: black
    text-decoration: none

.container
    width: 1100px
    max-width: 100%
    margin: 0 auto
    padding: 2rem 1rem 0rem 1rem

.form-wrapper
    width: 450px
    max-width: 100%
    padding: 0rem 2rem

.form-center
    margin: 0 auto
    .form-element
        margin-bottom: 1rem
    input, select 
        width: 100%
        padding: 0.8rem 0rem
        text-indent: 1rem

.main-title
    font:
        size: 2.4rem
        weight: 300
    margin-bottom: 1rem
    
.text-center
    text-align: center

.btn
    display: block
    width: 100%
    padding: 0.9rem 0rem
    outline: none
    border: none
    cursor: pointer
.btn-main
    background: $blue
    color: white
.error
    color: red
    font-size: 1rem
    margin-bottom: 0.8rem
    text-align: center 

.loading
    background: green
    text-align: center
    padding: 0.8rem 0rem
    color: white
    font-size: 1.2rem

.dashBoard-wrapper
    display: flex
    flex-wrap: wrap
    width: 960px
    max-width: 90%
    margin: 0 auto
    .dash-unit
        width: 49%
        margin: 1% 0.5%
        text-align: center
        padding: 8rem 0rem
        background: orange
        cursor: pointer
        transition: all ease-in-out 300ms
        &:hover
            background: rgba(orange, 0.4)

@media(max-width: 740px)
    .dashBoard-wrapper
        display: block
        .dash-unit
            width: 100%
            margin-bottom: 1rem